        body {
            font-family: Arial, sans-serif;
            text-align: center;
            margin: 0;
            padding: 10px;
            background-color: #f0f0f0;
            transition: background-image 0.5s ease; /* Transisi halus saat ganti background */

        }
        .gallery-container {
            width: 75%;
            max-width: 400px;
            margin: 0 auto;
            border: 2px solid #ccc;
            border-radius: 10px;
            overflow: hidden;
            position: relative;
            z-index: 1; /* Pastikan galeri di atas background */
        }
        .gallery img {
            width: 100%;
            height: 300px;
            object-fit: cover;
            display: block;
        }
        .buttons {
            margin-top: 10px;
        }
        button {
            padding: 10px 20px;
            margin: 0 10px;
            background-color: #ffffff;
            color: rgb(0, 0, 0);
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }
        button:hover {
            background-color: #0056b3;
        }
        button:disabled {
            background-color: #ccc;
            cursor: not-allowed;
        }
        .indicator {
            margin-top: 10px;
            font-size: 18px;
        }
        h1{
            color: aliceblue;
        }